cx-Freeze
cx-Logging ; platform_system == "Windows"
scipy
dash
dash-bootstrap-components
dash-core-components
dash-daq
dash-html-components
dash-table
jsonpickle
numpy
openpyxl
pandas==2.0.3
plotly
pywin32 ; platform_system == "Windows"
scipy
waitress
